{% extends "layout.html" %}
{% block content %}

  <h1 style="margin-bottom:50px;">Our mission</h1>
  <p>Our goal is to improve the value students get out of school while also helping teachers remove the possibility of plagiarism in submitted work. We believe that students don't get value out of cheating and if they couldn't cheat anymore they would learn much more and in the end, get more out of school. Cheating via plagiarism is also illegal and immoral, which is why our software will stop this. Devie was founded by Olivier Lefèvre and is now in 10,000+ schools in over 20+ countries</p>

{% endblock %}
