psycopg2-binary
Werkzeug~=2.0.0
flask
flask_sqlalchemy
flask_bcrypt
requests
flask_login
flask_wtf
wtforms
python-docx
google
boilerpy3
beautifulsoup4
pandas
fake-useragent
numpy
fasttext
textract
matplotlib
sklearn
seaborn
rake-nltk
trafilatura
requests
nltk
gensim
google-cloud-aiplatform
six==1.12.0
six==1.12.0
