{% extends "userapp.html" %}
{% block content %}
{{ super() }}
<div class="app-main-content">
  <h1>Scan papers</h1>
  <p>To upload a file to be scanned, press the upload file button below. The formats we accept are : .doc .docx .pdf .txt and .pages. Keep in mind that the student work you upload will be stored on our databases to be used to check for plagiairsm in future cases, that is, if the student work uploaded is unique and contains no plagiarism.</p>
  <p>Warning! The AI model used to check for plagiarism is still currently being developed and may either return a false positive, or a false negative. Do not rely on the report generated for the paper to determine whether the student has plagiarised (for now). Although the report generated will provide urls and highlight sentences that could possibly be plagiarism, please check the urls before coming to any conclusion about the submitted student work.</p>
  <p>After submitting the paper, a progress bar will appear, please wait for the progress to complete. Then you will be able to find the report generated in the "Past Reports section". If any errors occur at any time, please send a screenshot and maybe a little bit of information about the error to Olivier Lefèvre on teams or to Olivier Lefèvre via the email address : olivierlefevre2035@gmail.com! Thanks for beta testing the service!</p>
  <div class="content-section" style="margin:auto; width:50%;">
    <form action="" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Scan document</legend>
        <div class="form-group">
          {% if form.paper.errors %}
            {{ form.paper(class="form-control form-control-lg is-invalid ") }}
            <div class="invalid-feedback">
              {% for error in form.paper.errors %}
                <span>{{error}}</span><br>
              {% endfor %}
            </div>
            {% else %}
            {{ form.paper(class="form-control form-control-lg") }}
            {% endif %}
            </div>
            <div class="form-group">
              {% if form.language.errors %}
                {{ form.language(class="form-control form-control-lg is-invalid ") }}
                <div class="invalid-feedback">
                  {% for error in form.language.errors %}
                    <span>{{error}}</span><br>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.language(class="form-control form-control-lg") }}
                {% endif %}
                </div>
              <div class="form-group">
                {{ form.time(class="form-control form-control-lg") }}
              </div>
              <script type="text/javascript">
                timeinput = document.getElementById('time').children[0];
                d = new Date();
                diff = d.getTimezoneOffset();
                timeinput.innerHTML = diff;
              </script>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
  </div>
</div>

{% endblock %}
